/* AIACADEMY */
/* CUSTOM STYLE */
* {
    font-family: "Cairo", sans-serif;
}

.bg-custom {
    background-color: rgb(255, 182, 6);
    color: #000;
}

/* DASHBOARD SIDEBAR */
.sidebar {
    position: fixed;
    background-color: rgb(255, 205, 6);
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

.content-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        height: 100%;
    }
}

/* AUTHOR.JS | PROFILE PICTURE INPUT */
.file-input-profile {
    max-width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .file-input-profile{
        max-width: 130px;
    }
}

/* PUBLISHERS & CATEGORIES */
.search-field {
    border: none;
    border-radius: 50px;
}

.modal { overflow: auto !important; }